<div class="left-section">
    <div class="container">
        <div class="info">
            <div class="image">
                <img src="../../assets/image/logo.png" alt="">
            </div>
            <div class="title">
                <h1>Project</h1>
                <h1>Test</h1>
            </div>
        </div>

        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td>One</td>
            </tr>
            <tr>
                <td></td>
                <td>Two</td>
            </tr>
            <tr>
                <td></td>
                <td>Three</td>
            </tr>
            <tr>
                <td></td>
                <td>Four</td>
            </tr>
            <tr>
                <td></td>
                <td>Five</td>
            </tr>
            <tr>
                <td></td>
                <td>Six</td>
            </tr>
            <tr>
                <td></td>
                <td>Seven</td>
            </tr>
            <tr>
                <td></td>
                <td>Eight</td>
            </tr>
            <tr>
                <td></td>
                <td>Nine</td>
            </tr>
            <tr>
                <td></td>
                <td>Ten</td>
            </tr>
        </table>
        <div class="bttn">
            <button class="btn">Log out</button>
        </div>
    </div>
</div>