.container{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #AE8EE1;
    height: 100vh;
}
.container-white{
    background-color: #fbf9ff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.left{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #e8daff;
}
.right{
    padding: 2rem 1rem;
}
.nav-mobile{
    display: none;
}
@media (max-width:767px){
     .right{
        padding: 0;
     }
     
}
@media (max-width:576px) {
    .r{
        background-color: #ede9f5;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .container-white{
    border-radius: 0;
    grid-template-columns: 1fr;
}
   .nav-mobile{
    display: block;
    /* margin-top: 8rem  ; */
}
}