<div class="contianer">
    <div class="search">
        <div class="left-search">
            <div class="icon1">
                <img src="../../assets/icon/Menu tab.png" alt="" (click)="toggleLeftSection()">
                <app-left-section *ngIf="showLeftSection"></app-left-section>
            </div>
            <div class="image">
                <img src="../../assets/image/StudenPhoto.jpg" alt="صورة">
            </div>
            <h1>FrontTest</h1>
        </div>
        <div class="right-search icon">
            <img src="../../assets/icon/search.png">
        </div>
        <div class="mobile-icon">
            <img src="../../assets/icon/profile2.png" alt="">
        </div>
    </div>
    <div class="middle-section">
        <table>
            <tr>
                <th></th>
                <th>id</th>
                <th>Name</th>
                <th>Job</th>
            </tr>
            <tr *ngFor="let item of paginateData()">
                <td>
                    <div class="border-id">{{ item.id }}</div>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.job }}</td>
            </tr>
        </table>
    </div>
    <div class="btn">
        <button (click)="previousPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
    </div>
</div>