<div class="contianer">
    <div class="search">
        <div class="left-search">
            <div class="icon1">
                <img src="../../assets/icon/Menu tab.png" alt="" (click)="toggleLeftSection()">
                <app-left-section *ngIf="showLeftSection"></app-left-section>
            </div>
            <div class="image">
                <img src="../../assets/image/StudenPhoto.jpg" alt="صورة">
            </div>
            <h1>Front Test</h1>
        </div>
        <div class="right-search icon">
            <img src="../../assets/icon/search.png">
        </div>
        <div class="mobile-icon">
            <img src="../../assets/icon/Home2.png" alt="">
        </div>
    </div>
    <div class="middle-section">
        <div class="left">
            <div class="box-rectangle">
                <div class="rectangle"></div>
            </div>

            <div class="circles">
                <div class="circle-big circle-big1">
                    <div class="circle circle1"></div>
                </div>
                <div class="circle-big circle-big2">
                    <div class="circle circle2"></div>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="i">
                <input type="number" class="input-box" placeholder="first_Rate:" [formControl]="firstRateFormControl">
            </div>
            <div class="i">
                <input type="number" class="input-box" placeholder="last_Rate:" [formControl]="lastRateFormControl">
            </div>
            <div class="bttn">
                <button class="btn" (click)="updateCircles()">Submit</button>
            </div>
        </div>
    </div>
</div>